{% extends "JobFinder_app/base.html" %}
{% block title %}Create Job – LiteSpeedJobs{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Choose Job Type</h2>

    <div class="row">
        <div class="col-md-6 mb-3">
            <a href="{% url 'create_job_software' %}"
               class="btn btn-lg btn-primary w-100">
                Software Engineering Job
            </a>
        </div>

        <div class="col-md-6 mb-3">
            <a href="{% url 'create_job_machinist' %}"
               class="btn btn-lg btn-dark w-100">
                Machinist / Welding / Fabrication Job
            </a>
        </div>
    </div>
</div>
{% endblock %}
