{% extends 'JobFinder_app/base.html' %}
{% block content %}
<h1>This is the Home Page</h1>
    <!-- <p><form action="/Report/Fire" type="POST">
        <button class ="menuButton" type="submit" value="Employers">Find Employees Here</button>
        </form></p> -->

<p><form action="/JobFinder_app/seekerview" type="POST">
    <button class ="menuButton" type="submit" value="Employers">Job Seekers Enter Here</button>
    </form></p>

<p><form action="/JobFinder_app/employerview" type="POST">
    <button class ="menuButton" type="submit" value="Employers">Employers Enter Here</button>
    </form></p>

{% endblock %}